<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--from https://getbootstrap.com/docs/4.1/examples/blog/-->
<head th:replace="_fragment::title_header(~{::title})">
    <title>On Spring Post List</title>
</head>
<body>
<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <a class="text-muted" href="#">책 목록</a>
            </div>
            <div class="col-4 text-center">
                <a class="h2 text-dark" href="#">Book Log</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a class="text-muted" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="mx-3">
                        <circle cx="10.5" cy="10.5" r="7.5"></circle>
                        <line x1="21" y1="21" x2="15.8" y2="15.8"></line>
                    </svg>
                </a>
                <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
            </div>
        </div>
    </header>

    <div class="row mb-2">
        <div class="col-md-6" th:each="post : ${postList}"> <!-- ① -->
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong th:text="${post.bookTitle}" class="d-inline-block mb-2 text-success">${post.bookTitle}</strong>
                    <h3 class="mb-0">
                        <a class="text-dark" th:text="${post.subject}" th:href="@{'/post/'+${post.id}}">Post subject</a>
                    </h3>
                    <div class="mb-1 text-muted" th:text="${post.createdAt}">${post.createdAt}</div>
                    <p class="card-text mb-auto" th:text="${post.userName}">Writer</p>
                    <a th:href="@{'/post/'+${post.id}}">Continue reading</a>
                </div>
                <img class="card-img-right flex-auto d-none d-lg-block" src="/onspring.png" th:width="200px" alt="Card image cap" style="height: 200px">

            </div>
        </div>
    </div>

    <hr/>

    <a th:href="@{'/'}" class="button button-brand btn-lg btn-info mb-5 mb-lg-2">Main</a>
    <a th:href="@{'/post/write'}" class="button button-brand btn-lg btn-success mb-5 mb-lg-2">Write</a>

</div>

<footer th:replace="_fragment::footer"></footer>
<th:block th:replace="_fragment::base_script"/>
</body>
</html>
