<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment::title_header(~{::title})">
    <title>Post Form</title>
</head>
<body>
<section class="container">
    <h2>글쓰기 th:object="${post}"</h2>
    <hr/>
    <form action="post.html" method="post"
          th:action="@{${#httpServletRequest.servletPath}}">
        <fieldset class="form-group">
            <label for="formBookTitle">bookTitle</label>
            <input id="formBookTitle" type="text" class="form-control"
                   name="bookTitle" th:field="${post.bookTitle}"
                   placeholder="Title input"/>
            <span th:each="error : ${#fields.errors('post.bookTitle')}" th:text="' ' + ${error}"/>
        </fieldset>
        <fieldset class="form-group">
            <label for="formSubject">subject</label>
            <input id="formSubject" type="text" class="form-control"
                   name="subject" th:field="${post.subject}"
                   placeholder="Subject input"/>
        </fieldset>
        <fieldset class="form-group">
            <label for="formContent">Content</label>
            <textarea id="formContent" class="form-control" name="content"
                      rows="3" th:field="${post.content}"></textarea>
            <span th:each="error : ${#fields.errors('post.content')}" th:text="' ' + ${error}"/>
        </fieldset>
        <fieldset class="form-group">
            <label for="formWriter">Writer</label>
            <input id="formWriter" type="text" class="form-control"
                   name="userName" th:field="${post.userName}"
                   placeholder="Writer input"/>
        </fieldset>
        <input type="submit" class="btn btn-primary" value="저장"/>
    </form>
</section>

<footer th:replace="fragment::footer"></footer>
<th:block th:replace="fragment::base_script"/>
<script type="text/javascript"> <!-- ②  -->
$('form').submit(function (event) { <!-- ③ -->
    $('form input:text, textarea').each(function () { <!-- ④ -->
        if (!($.trim($(this).val())).length) { <!-- ⑤ -->
            alert("모든 값을 입력해 주세요!");
            event.preventDefault();
            return false;
        }
    });
});
</script>
</body>
</html>
