<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--from https://getbootstrap.com/docs/4.1/examples/blog/-->
    <th:block th:replace="fragment::base_meta"/>
    <th:block th:replace="fragment::base_link"/>
    <title th:text="${post.bookTitle}">BookTitle</title>
</head>
<body>
<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <a class="text-muted" href="#">책 목록</a>
            </div>
            <div class="col-4 text-center">
                <a class="h2 text-dark" href="#">Book Log</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a class="text-muted" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="mx-3">
                        <circle cx="10.5" cy="10.5" r="7.5"></circle>
                        <line x1="21" y1="21" x2="15.8" y2="15.8"></line>
                    </svg>
                </a>
                <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
            </div>
        </div>
    </header>
    <article>

        <div class="row">
            <div class="col-md-8 blog-main">
                <h3 th:text="${post.bookTitle}" class="pb-3 mb-4 font-italic border-bottom">
                    ${post.bookTitle}
                </h3>

                <div class="blog-post">
                    <h2 class="blog-post-subject" th:text="${post.subject}">${post.subject}</h2>
                    <p class="blog-post-meta"><span th:text="${post.createdAt}">January 1, 2019</span> by <a href="#" th:text="${post.userName}">Origoni</a></p>
                    <div th:text="${post.content}">${post.content}</div>
                </div><!-- /.blog-post -->

                <hr>

                <a th:href="@{'/post/list'}" class="button button-brand btn-lg btn-info mb-5 mb-lg-2">List</a>
                <a th:href="@{/post/{postId}/edit(postId=${post.id})}" class="button button-brand btn-lg btn-warning mb-5 mb-lg-2">Edit</a>
                <a th:href="@{'/post/'+${post.id}+'/delete'}" id="delete" class="button button-brand btn-lg btn-danger mb-5 mb-lg-2">Delete</a>

            </div><!-- /.blog-main -->

            <aside class="col-md-4 blog-sidebar">
                <div class="p-3 mb-3 bg-light rounded">
                    <h4 class="font-italic">About</h4>
                    <p class="mb-0">오리고니의 서재 입니다.</p>
                </div>

                <div class="p-3">
                    <h4 class="font-italic">카테고리</h4>
                    <ol class="list-unstyled mb-0">
                        <li><a href="#">인문학</a></li>
                        <li><a href="#">컴퓨터공학</a></li>
                        <li><a href="#">자연과학</a></li>
                    </ol>
                </div>

                <div class="p-3">
                    <h4 class="font-italic">Elsewhere</h4>
                    <ol class="list-unstyled">
                        <li><a href="#">GitHub</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                    </ol>
                </div>
            </aside><!-- /.blog-sidebar -->

        </div><!-- /.row -->

    </article>
</div>

<footer th:replace="fragment::footer"></footer>
<th:block th:replace="fragment::base_script"/>
<script type="text/javascript">
    $("#delete").click(function () { <!-- ② -->
        if (!confirm("정말로 삭제할까요?")) {
            return false;
        }
    });
</script>
</body>
</html>
